.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;

  &__description {
    h2 {
      font-size: 64px;
      color: #d3573c;
    }

    .localization {
      font-size: 24px;
      color: rgba(144, 28, 28, 1);
    }

    .tagline {
      font-size: 18px;
    }
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.photograph-medias-container {
  margin: 20px 100px;

  .medias-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
  }
}
