*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: unset;
  font-family: "Roboto";
  position: relative;
}

h1 {
  font-size: 24px;
  margin: unset;
}

h2 {
  font-size: 24px;
  margin: unset;
}

h4 {
  margin: unset;
}

p {
  margin: unset;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: unset;
  list-style: none;
  padding: 5px 12px 5px 12px;
  background: $color-secondary;
  border-radius: 5px;
}

button {
  border: unset;
}

dialog {
  border: unset;
}

.main-wrapper {
  max-width: 1400px;
  margin: auto;
  position: relative;
}

.display-block {
  display: block;
}

.number-1 {
  order: -1;
}
